<div class="mainContainer">
    <div class="ImgDiv">
        <div id="mainImage">
            <h1 class="opacity0" id="title-Library">S.W.M.S</h1>
            <div class="separator"></div>
            <h3 class="opacity0" id="description-title-Library">SMART WASTE MANAGEMENT SYSTEME</h3>
        </div>
        <div class="custom-shape-divider-bottom-1642113370">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <div class="about-us" id="about-us-div">
        <h1>About us</h1>
        <h2>We're leading a trash revolution</h2>
        <p>S.W.M.S is a progressive waste technology company,
        using our patented IoT tech suite to reduce waste-related costs and save the planet, all at once. </p>
    </div>
    <div class="custom-shape-divider-bottom-1642112954" id="contact-us-div">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <div class="contact">
        <h2>Contact us</h2>
        <form>
            <div class="row">
                <div class="col-md-5">
                    <input placeholder="Name">
                    <input placeholder="Family name">
                    <input placeholder="E-mail">
                </div>
                <div class="col-md-7">
                    <textarea placeholder="write your opinion or reclamation here"></textarea>
                </div>
            </div>
        </form>
        <button class="btn send-btn">Send</button>
    </div>
</div>