<div class="content">
    <div *ngIf="!registerScreenOn">
        <div class=" row d-flex justify-content-center align-items-center signInContainer">
            <div class="col-md-6 col-lg-5 col-xl-5">
                <img src="../../assets/register.jpg" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-7 col-xl-7 pl-8">
                <div class="pt-8">
                    <h2 class="mb-3">Sign in to our Library</h2>
                    <!-- Email input -->
                    <div class="form-outline mb-2">
                        <label class="form-label" for="emailInput">Email address</label>
                        <input type="email" id="emailInput" class="form-control form-control-lg"
                            placeholder="Enter your email address" />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-2">
                        <label class="form-label" for="passwordInput">Password</label>
                        <input type="password" id="passwordInput" class="form-control form-control-lg"
                            placeholder="Enter password" />
                    </div>
                    <div class="text-lg-start pt-2">
                        <button class="btn send-btn" (click)="logIn()">Sign in</button>
                        <p class="small fw-bold  pt-1 mb-0">Don't have an account? <a
                                (click)="toggleRegistration()">Register</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf=" registerScreenOn">
        <div class=" row d-flex justify-content-center align-items-center signInContainer">
            <div class="col-md-6 col-lg-5 col-xl-5">
                <img src="../../assets/register.jpg" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-7 col-xl-7 pl-8">
                <div class="pt-8">
                    <h2 class="mb-3">Sign in to our Library</h2>
                    <!-- Email input -->
                    <div class="form-outline mb-2">
                        <label class="form-label" for="emailInput">Email address</label>
                        <input type="email" id="emailInput" class="form-control form-control-lg"
                            placeholder="Enter your email address" />
                    </div>
                    <!-- registration number input -->
                    <div class="form-outline mb-2">
                        <label class="form-label" for="registrationInput">Password</label>
                        <input type="email" id="registrationInput" class="form-control form-control-lg"
                            placeholder="Enter password" />
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-2">
                        <input type="password" id="passwordInput" class="form-control form-control-lg"
                            placeholder="Retype password" />
                    </div>
                    <div class="text-lg-start pt-2">
                        <button class="btn send-btn">Sign up</button>
                        <p class="small fw-bold  pt-1 mb-0">You already have an account? <a
                                (click)="toggleRegistration()">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>